name: Deploy to Oracle VPS

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync file to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "src/,pom.xml,mvnw,.mvn/,docker-compose.yml,prometheus.yml,nginx/,grafana/,Dockerfile"
          target: "~/git-clones/walking-skeleton"

      - name: SSH and Redeploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/git-clones/walking-skeleton
            docker compose up -d --build
            docker image prune -f


